@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");



:root {
  --primary-bg: #3b620e;
  --blue: #09B4DF;
  --dark-blue: #1C73CB;
  --dark-violet: #2E1F66;
  --red: #E6514F;
  --light-gray: #F0F4F8;
  --dark-gray: #3D405B;
  --footer-text: #e0e0e0;
  --gradient-color-1: #261a44;
  --gradient-color-2: #8a438e;
  --gradient-color-3: #1c73cb;
  --gradient-color-4: #09b4df;
  --transparent: rgba(0, 0, 0, 0);
  --fade-from-color: rgba(0, 0, 0, 1);
  --fade-mid-color: rgba(0, 0, 0, 1);
  --fade-to-color: rgba(0, 0, 0, 1);
  --gradient-text-1: #a537fd;
  --gradient-text-2: #3aafff;
  --gradient-text-3: #ff6ee2;
  --gradient-text-4: #ca4dff;
}

.gradient-container {
  position: relative;
}

.gradient-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2000px;
  background-size: 400% 400%;
  z-index: -1;
}

#gradient-canvas1 {
  background: linear-gradient(
    135deg,
    var(--gradient-color-1),
    var(--gradient-color-2),
    var(--gradient-color-3),
    var(--gradient-color-4)
  );
  animation: gradientBG1 10s ease infinite, fade 5s ease-in-out infinite;
}

#gradient-canvas2 {
  background: radial-gradient(
    circle at center,
    var(--gradient-color-1),
    var(--gradient-color-2),
    var(--gradient-color-3),
    var(--gradient-color-4)
  );
  background-size: 100% 100%;
  animation: gradientBG2 15s ease infinite, fade 6s ease-in-out infinite;
}

#gradient-canvas3 {
  background: linear-gradient(
    45deg,
    var(--gradient-color-1),
    var(--gradient-color-2),
    var(--gradient-color-3),
    var(--gradient-color-4)
  );
  animation: gradientBG3 5s ease infinite, fade 7s ease-in-out infinite;
}

#gradient-canvas3 {
  background: radial-gradient(
    circle at top right,
    var(--gradient-color-1),
    var(--gradient-color-2),
    var(--gradient-color-3),
    var(--gradient-color-4)
  );
  animation: gradientBG3 4s ease infinite, fade 10s ease-in-out infinite;
}


@keyframes gradientBG1 {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

@keyframes gradientBG2 {
  0%,
  100% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
}

@keyframes gradientBG3 {
  0%,
  100% {
    background-position: 100% 0%;
  }
  50% {
    background-position: 0% 100%;
  }
}

@keyframes fade {
  0%,
  100% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
}

#gradient-fade {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 2000px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 99%);
}

.gradient-text {
  background-image: linear-gradient(45deg, var(--gradient-text-1), var(--gradient-text-2), var(--gradient-text-3), var(--gradient-text-4));
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text-link {
  background-image: linear-gradient(
    45deg,
    var(--gradient-text-1) 00%,
    var(--gradient-text-2) 50%,
    var(--gradient-text-3) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: color 0.3s ease;
}

.gradient-text-link:hover {
  color: rgba(255, 255, 255, 0.5);
}


body {
  font-family: "Noto Sans JP", sans-serif;
  background: linear-gradient(to bottom, var(--fade-from-color), var(--fade-mid-color), var(--fade-to-color));
  font-family: 'Noto Sans JP', sans-serif;
}

table {
  border-collapse: separate;
  border-spacing: 5px;
  border-radius: 1rem;
  overflow: hidden;
  padding: 2px;
  border: 2px solid transparent;
  border-color: #09B4DF;
}

.mentor-image:hover + .mentor-image-hover {
  display: block;
}

.mentor-image-hover:hover {
  display: block;
}

.mentor-card {
  position: relative;
}

.mentor-card:hover .mentor-card-description {
  display: block;
}

.schedule-card {
  background-color: rgba(46, 49, 65, 0.8);
  border-radius: 1rem;
  padding: 1.5rem;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
}

.schedule-card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.schedule-card .icon {
  margin-right: 0.5rem;
  font-size: 1.2rem;
  vertical-align: middle;
}

.schedule-card h3 {
  background-image: linear-gradient(to right, #09B4DF, #9eb4cb);
  -webkit-background-clip: text;
  color: transparent;
  display: flex;
  align-items: center;
  font-weight: 700;
}

.schedule-card h4 {
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.schedule-card ul {
  font-size: 0.9rem;
  font-weight: 400;
}

h1,
h2,
h3 {
  font-family: "DotGothic16", sans-serif;
}

summary {
  list-style: none;
  outline: none;
}
summary::-webkit-details-marker {
  display: none;
}

details[open] > summary > span {
  transform: rotate(90deg);
  transition: transform 0.3s;
}

.modal {
  transition: opacity 0.25s ease;
}
.modal-open {
  overflow: hidden;
}
.modal-open .modal {
  opacity: 1;
  pointer-events: auto;
}
